*{
    box-sizing: border-box;
}

body{
    background-color: #F6F6F6;
    overflow-x: hidden;
}

img{
    max-width: 100%;
}

ul, body, figure{
    margin: 0px;
}

.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

@media (max-width: 500px) 
{
    .container{
        margin: 0 auto;
        width: 100%;
        max-width: 335px;
    }
}
