/* desktop */
.banner{
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
}

.banner-image{
    width: 100%;
    filter: contrast(1);
    filter: saturate(100%);
    background-size: cover;
}

.banner::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(81, 80, 112, 1);  
}

.banner-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.banner-title{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0px;
}

.banner-text{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 17px;
}

.box-link{
    width: 160px;
    height: 60px;
    border-radius: 3px;
    border: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.banner-box-link-color{
    background: #FF8E6E;
    transition: background 0.2s linear;
}

.banner-box-link-color:hover{
    background: #c06f58;
}

.link-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 15px;
    margin: 10px;
}

.link-icon{
    width: 15px;
}

.about{
    position: relative;
}

.about-content{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden; 
}

.box-left-container{
    width: 50%;
    max-width: 530px;
    justify-content:left;
}

.box-right-container{
    width: 50%;
    display: flex;
    justify-content:right;
}

.small-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    margin-bottom: 5px;
}

.big-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    margin: 0px;
}

.text{
    font-family: 'Montserrat', sans-serif;
    line-height:25px;
}

.about-small-title{
    color: #5e5e5e;
    font-size: 15px;
}

.about-big-title{
    color: #FF8E6E;
    font-size: 45px;
}

.about-text{
    color: #898989;
    font-size: 14px;
    margin: 40px 0px;
}


.about-box-link-color{
    background: #515070;
    transition: background 0.2s linear;
}

.about-box-link-color:hover{
    background: #706e9b;
}

.illustration{
    width: 100%;
    max-width: 420px;
}

.service-small-title{
    color: #FFF;
    font-size: 15px;
}

.service-big-title{
    color: #FFF;
    font-size: 45px;
}

.service-text{
    color: #fff;
    font-size: 14px;
    margin: 40px 0px;
}

.testimonials{
    position: relative;
}

.testimonials-content{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    overflow: hidden; 
}

.testimonials-content-title{
    margin: 50px 0px;
}

.testimonials-small-title{
    color: #5e5e5e;
    font-size: 15px;
}

.testimonials-big-title{
    color: #FF8E6E;
    font-size: 45px;
}

.testimonials-content-boxs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-testimonials{
    background: #FFF;
    padding: 25px;
    width: 48%;
    display: inline-block;
}

.box-testimonials-header{
    display: flex;
    align-items: center;
}

.testimonials-photo{
    float: left;
    margin-right: 30px;
}

.testimonials-name{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #515070;
    margin: 0;
}

.testimonials-date{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 12px;
    color:#FF8E6E ;
    margin: 0;
}

.testimonials-text{
    color: #898989;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 0px;
    width: 95%;
}

.features{
    position: relative;
    background: linear-gradient(105.92deg, #515070 -8.44%, #6B69B0 94.86%);
}

.features-content{
    width: 100%;
    height: 700px;
    overflow: hidden; 
}

.features-box-title{
    display: flex;
    justify-content: center;
    margin: 60px;
}

.features-title{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 45px;
    color:#FF8E6E ;
    margin: 0px;
}

.features-box-cards{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden; 
}

.features-card{
    width: calc(100% / 3);
    height: 100%;
    overflow: hidden; 
}

.features-card-item{
    width: 85%;
}

.card-item{
    display: block;
    margin-top: 80px;
}

.card-icon{
    float: left;
    margin-right: 20px;
    margin: 25px 0px;
    margin-right: 20px;
}

.card-title{
    color: #FFF;
    font-size: 20px;
    margin: 0px;
}

.card-text{
    color: #FFF;
    font-size: 15px;
    margin: 0px;
}

.card-image{
    width: 100%;
    padding: 0px 30px;
}

.alinha-esquerda{
   display: flex;
   justify-content: left;
}

.alinha-direita{
    display: flex;
    justify-content: right;
 }


 .contact-content{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden; 
}

.contact-text{
    color: #898989;
    font-size: 14px;
    margin: 40px 0px;
    width: 88%;
}

.contact-box-link{
    width: 190px;
    height: 60px;
    border-radius: 3px;
    border: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

/* mobile */

@media (max-width: 500px) 
{
    .banner-image{
        width: 100%;
        height: 620px;
        object-fit: cover;
        object-position: left;
    }

    .banner-title{
        font-size: 40px;
    }
    
    .banner-text{
        margin: 50px 0px;
    }

    .about-content{
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        overflow: hidden; 
    }

    .box-left-container{
        width: 100%;
        max-width: 100%;
        display: block;
        margin-bottom: 80px;
        order: 2;
    }
    
    .box-right-container{
        width: 100%;
        display: block;
        order: 1;
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .about-small-title{
        color: #5e5e5e;
        font-size: 15px;
    }
    
    .about-big-title{
        color: #FF8E6E;
        font-size: 30px;
    }
    
    .about-text{
        color: #898989;
        font-size: 13.5px;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .service-mobile-aling{
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden; 
        margin-top: 60px;
    }
    
    .service-big-title{
        color: #FFF;
        font-size: 30px;
    }
    
    .service-text{
        color: #fff;
        font-size: 13px;
        margin: 70px 0px;
    }

    .testimonials-content{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden; 
        margin-bottom: 40px;
    }

    .testimonials-content-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px 0px;
    }
    
    .testimonials-big-title{
        color: #FF8E6E;
        font-size: 30px;
    }

    .testimonials-content-boxs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box-testimonials{
        background: #FFF;
        padding: 25px;
        width: 100%;
        display: block;
        margin: 25px 0px;
    }
    
    .box-testimonials-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .testimonials-photo{
        float: none;
        margin-bottom: 10px;
        margin-right: 0px;
    }

    .testimonials-name{
        font-family: 'Exo 2';
        font-style: italic;
        font-weight: 500;
        font-size: 19px;
        text-align: center;
    }
    
    .testimonials-text{
        font-size: 11.5px;
        width: 100%;
        text-align: center;
    }
}